
  .main {
    max-width: 900px;
    margin: 20px auto;
    font-family: "Rubik", sans-serif;
  }
  
  .main h1 {
    font-size: 50px;
    border-left: 4px solid black;
    color: #000;
    padding-left: 20px;
  }
  
  .main .center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    
  }
  
  
  
  .main .first {
    box-shadow: 0 4px 24px -8px rgba(2, 48, 71, 0.2);
    margin-top: 4rem;
    padding: 24px;
    border-radius: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all 400ms ease;
    background-color: #fff
  }
  
  .main .first:hover {
    transform: scale(1.03);
  }
  
  .main .fourth {
    position: absolute;
    top: 10px;
    right: 24px;
    color: #e63946;
  }
  
  .main .second {
    font-size: 20px;
    padding: 10px 0;
    margin: 0;
   background-color: transparent;
   color: #023047;
  }
  
  .main .third {
    margin-top: 6px;
    font-size: 14px;
    color: #333;
    line-height: 1.8;
    flex: 1;
  }
  
  .main .btn {
    text-decoration: none;
    border: 1px solid #023047;
    color: #000;
    padding: 8px 16px;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
    transition: all 400ms ease;
  }
  
  .main .btn:hover {
    background: #023047;
    color: #fff;
  }

  

  /* .FormGroup {
    margin: 0 15px 20px;
    padding: 0;
    border-style: none;
    background-color: #7795f8;
    will-change: opacity, transform;
    box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff;
    border-radius: 4px;
  }
  
  .FormRow {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 15px;
    border-top: 1px solid #819efc;
  }
  
  .StripeElement--webkit-autofill {
    background: transparent !important;
  }
  
  .StripeElement {
    width: 100%;
    padding: 11px 15px 11px 0;
  }
  
  button {
    display: block;
    font-size: 16px;
    width: calc(100% - 30px);
    height: 40px;
    margin: 40px 15px 0;
    background-color: #f6a4eb;
    box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #ffb9f6;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    will-change: transform, background-color, box-shadow;
    border: none;
  }
  
  button:active {
    background-color: #d782d9;
    box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #e298d8;
    transform: scale(0.99);
  }
  
  
  h1,
  h3 {
    text-align: center;
  } */